# Amazon-Flex ETL Data Pipe - Juan Moctezuma

The following script EXTRACTS information from the RDF (Raw Data File) CSV file, then it TRANSFORMS (or cleans) the data and then its LOADED into a CSV file (output) on the CLEANED_DATA folder. These are the stages of an ETL (Extract Transform Load) data pipe.

...

## 1. EXTRACT

First step is to import the following libraries: os, display, pandas, ast.

In [1]:
import os
from IPython.display import display
import pandas as pd
import ast

The term 'cwd' stands for current working directory on author's computer, which gets printed below.

cwd on a Mac is: /Users/juanleonardomoctezuma/Desktop/FOLDER_MAIN/Data_Analytics/Amazon_Project/ETL_Data_Pipeline

In [2]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
RAW_DATA_DIR = os.path.join(BASE_DIR, 'RAW_DATA')
OUTPUT_DIR = os.path.join(BASE_DIR, 'CLEANED_DATA')
# print(cwd)

NOTE: The folder with the Raw Data File (RDF)'s folder needs to be 'a level above' from ETL's folder, in other words it needs to be stored on 'Amazon_Project'.

The following line prints the content within RAW_DATA - folder, as expected there should only be one CSV file.

In [3]:
os.listdir(RAW_DATA_DIR)

['.DS_Store', 'Amazon-Flex_RDF.csv', 'Archieve']

The rdf variable joins CSV with the cwd's path. The term 'df' stands for data frame, which reads the CSV. CDF stands for Cleaned Data File.

In [4]:
rdf = os.path.join(RAW_DATA_DIR, 'Amazon-Flex_RDF.csv')
cdf = os.path.join(OUTPUT_DIR, 'Amazon-Flex_CDF.csv')
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
df = pd.read_csv(rdf)

The file's headers and their respective data types get displayed for the reader.

In [5]:
df.dtypes

DATE                         object
WAREHOUSE                    object
START_TIME                   object
SHIFT_DURATION_HR           float64
OPERATING_VEHICLE            object
STARTING_MILEAGE              int64
FINAL_MILEAGE                 int64
ROUTE_MILEAGE                 int64
NEIGHBORHOOD(S)              object
WHS-NBHD_MIN-APPROX-DIST    float64
FUEL_TOTAL                   object
FUEL_GAL                    float64
PRICE_PER_GAL                object
OIL_COMPANY                  object
GAS_CATEGORY                 object
GAS_STATION_ADDRESS          object
GS-WHS_DIST                 float64
TOTAL_PKGS                    int64
ON-TIME_PKGS                  int64
RETURNED_PKGS                 int64
LATE_PKGS                     int64
MISSING_ORDERS                int64
ON-TIME_RATIO                object
PDD_FAIL_RATIO               object
LATE-PKGE_RATIO              object
RCVD-PKGE_RATIO              object
ON-TIME_ARR (Y/N)            object
TRAFFIC (Y/N)                object
WHS_DELAY (Y/N)              object
BAD_WEATHER (Y/N)            object
OTHER_DELAYS (Y/N)           object
dtype: object

So far the dataset is limited to a few rows, but these get updated as the author compiles more data. The following represents the raw data file (RDF) as it looks in Excel.

In [6]:
df.head(n=50)

,DATE,WAREHOUSE,START_TIME,SHIFT_DURATION_HR,OPERATING_VEHICLE,STARTING_MILEAGE,FINAL_MILEAGE,ROUTE_MILEAGE,NEIGHBORHOOD(S),WHS-NBHD_MIN-APPROX-DIST,FUEL_TOTAL,FUEL_GAL,PRICE_PER_GAL,OIL_COMPANY,GAS_CATEGORY,GAS_STATION_ADDRESS,GS-WHS_DIST,TOTAL_PKGS,ON-TIME_PKGS,RETURNED_PKGS,LATE_PKGS,MISSING_ORDERS,ON-TIME_RATIO,PDD_FAIL_RATIO,LATE-PKGE_RATIO,RCVD-PKGE_RATIO,ON-TIME_ARR (Y/N),TRAFFIC (Y/N),WHS_DELAY (Y/N),BAD_WEATHER (Y/N),OTHER_DELAYS (Y/N)
0,1/2/21,DSD3 (National City),5:00 PM,3.0,Sedan (Jetta VW),94918,94939,21,BONITA / NATIONAL CITY,4.5,$11.04,3.085,$3.579,Shell Oil Company,V-Power,3230 National City Blvd,1.3,54,54,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
1,1/8/21,DSD3 (National City),5:00 PM,4.0,Sedan (Jetta VW),94975,95001,26,MISSION BEACH / OCEAN BEACH,13.7,$11.02,3.062,$3.599,Shell Oil Company,V-Power,3230 National City Blvd,1.3,38,38,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
2,1/15/21,DSD3 (National City),5:30 PM,5.5,Sedan (Jetta VW),95145,95177,32,DOWNTOWN AREA / LOGAN,7.6,$20.22,5.525,$3.659,Shell Oil Company,V-Power,3230 National City Blvd,1.3,33,27,2,4,0,87%,6%,13%,94%,YES,NO,YES,NO,NO
3,1/22/21,DSD3 (National City),5:00 PM,4.0,Sedan (Jetta VW),95217,95234,17,HILLCREST / MONTECITO POINT,8.7,$11.10,3.002,$3.699,Shell Oil Company,V-Power,3230 National City Blvd,1.3,40,40,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
4,1/29/21,DSD3 (National City),5:00 PM,3.5,Sedan (Jetta VW),95275,95312,37,EL CAJON / SPRING VALLEY / LA MESA,13.0,$11.50,3.027,$3.799,Shell Oil Company,V-Power,3230 National City Blvd,1.3,30,30,0,0,0,100%,0%,0%,100%,YES,NO,NO,YES,NO
5,2/5/21,DSD3 (National City),5:00 PM,4.5,Sedan (Jetta VW),95362,95385,23,NORTH PARK,8.5,$11.30,2.974,$3.799,Shell Oil Company,V-Power,3230 National City Blvd,1.3,39,39,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
6,2/12/21,DSD3 (National City),5:00 PM,4.5,Sedan (Jetta VW),95422,95471,49,SAN YSIDRO / OTAY MESA / OCEAN VIEW,9.3,$11.37,3.133,$3.629,Shell Oil Company,Plus,3230 National City Blvd,1.3,31,30,1,0,0,100%,3%,0%,97%,YES,NO,NO,NO,NO
7,2/13/21,DSD3 (National City),5:00 PM,3.5,Sedan (Jetta VW),95501,95532,31,PALM CITY / OTAY / OCEAN VIEW,6.0,$11.30,3.114,$3.629,Shell Oil Company,Plus,3230 National City Blvd,1.3,46,46,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
8,2/19/21,DSD3 (National City),5:00 PM,2.8,Sedan (Jetta VW),95557,95588,31,EL CAJON,13.0,$11.40,2.954,$3.859,Chevron Corporation,Regular,604 Dennery Rd,9.0,26,26,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
9,2/26/21,DSD3 (National City),5:00 PM,2.9,Sedan (Jetta VW),95642,95676,34,SAN YSIDRO / OTAY MESA / OCEAN VIEW,9.3,$11.23,3.103,$3.619,Shell Oil Company,Regular,3230 National City Blvd,1.3,28,28,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
10,3/5/21,DSD3 (National City),5:00 PM,3.5,Sedan (Jetta VW),95708,95756,48,EL CAJON,13.0,$11.28,3.117,$3.619,Shell Oil Company,Regular,3230 National City Blvd,1.3,25,25,0,0,0,100%,0%,0%,100%,NO,NO,NO,NO,NO
11,3/12/21,DSD3 (National City),5:00 PM,3.5,Sedan (Jetta VW),95809,95829,20,CASTLE PARK / PALM CITY / IMPERIAL BEACH,4.3,$11.38,3.035,$3.749,Shell Oil Company,Regular,3230 National City Blvd,1.3,37,37,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
12,3/19/21,DSD3 (National City),5:00 PM,3.3,Sedan (Jetta VW),95866,95881,15,OLD CHULA VISTA,3.2,$12.23,3.236,$3.779,Shell Oil Company,Regular,3230 National City Blvd,1.3,33,33,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
13,3/24/21,DSD3 (National City),5:15 PM,4.5,Sedan (Jetta VW),95918,95941,23,MT HOPE / STOCKTON / E. SD / FAIRMOUNT / N. PARK,4.6,$11.71,3.100,$3.779,Shell Oil Company,Regular,3230 National City Blvd,1.3,37,37,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
14,3/29/21,DSD3 (National City),5:00 PM,4.0,Sedan (Jetta VW),95980,96005,25,LEMON GROVE / SPRING VALLEY,10.3,$12.29,3.218,$3.819,Shell Oil Company,Regular,3230 National City Blvd,1.3,36,36,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO
15,4/2/21,DSD3 (National City),5:00 PM,4.5,Sedan (Jetta VW),96045,96068,23,OAK PARK / COLINA DEL SOL / NORMAL HEIGHTS,9.2,$12.47,3.239,$3.849,Shell Oil Company,Regular,3230 National City Blvd,1.3,34,34,0,0,0,100%,0%,0%,100%,YES,NO,NO,NO,NO

## 2. TRANSFORM

Column's related to gas money get cleaned when '$' gets removed and data gets converted into a float (decimal) data type.

In [7]:
cols_to_clean = ['FUEL_TOTAL', 'PRICE_PER_GAL']

def currency_str_to_dec(gas_money):
    currency_val = gas_money.replace("$", "")
    try:
        currency_val = ast.literal_eval(currency_val)
    except:
        currency_val = 0
    return currency_val

def clean_col(row):
    """
    row = Pandas Series
    dataframe = collection of Pandas Series
    """
    # print(row)
    for col in cols_to_clean:
        gas_money = row[col]
        row[col] = currency_str_to_dec(gas_money)
    return row

Dataset gets cleaned once we apply the 'clean_col' function.

In [8]:
df_cleaned = df.apply(clean_col, axis=1)

'YES' and 'NO' values get replaced by integers 1 or 0. Computations will get performed on the last columns later on.

In [9]:
df_cleaned['ON-TIME_ARR (Y/N)'].replace({"YES": 1, "NO": 0}, inplace=True)
df_cleaned['TRAFFIC (Y/N)'].replace({"YES": 0, "NO": 1}, inplace=True)
df_cleaned['WHS_DELAY (Y/N)'].replace({"YES": 0, "NO": 1}, inplace=True)
df_cleaned['BAD_WEATHER (Y/N)'].replace({"YES": 0, "NO": 1}, inplace=True)
df_cleaned['OTHER_DELAYS (Y/N)'].replace({"YES": 0, "NO": 1}, inplace=True)

Every data column associated with ratio gets overwritten or transformed into decimals.

In [10]:
df_cleaned['ON-TIME_RATIO'] = df_cleaned['ON-TIME_PKGS'] / (df_cleaned['TOTAL_PKGS'] - df_cleaned['RETURNED_PKGS'])
df_cleaned['PDD_FAIL_RATIO'] = df_cleaned['RETURNED_PKGS'] / df_cleaned['TOTAL_PKGS']
df_cleaned['LATE-PKGE_RATIO'] = df_cleaned['LATE_PKGS'] / (df_cleaned['TOTAL_PKGS'] - df_cleaned['RETURNED_PKGS'])
df_cleaned['RCVD-PKGE_RATIO'] = (df_cleaned['TOTAL_PKGS'] - (df_cleaned['RETURNED_PKGS'] + df_cleaned['MISSING_ORDERS'])) / (df_cleaned['TOTAL_PKGS'])

In [11]:
df_cleaned.rename(columns = {'ON-TIME_ARR (Y/N)':'ON_TIME_ARR','TRAFFIC (Y/N)':'NO_TRAFFIC','WHS_DELAY (Y/N)':'NO_WHS_DELAY','BAD_WEATHER (Y/N)':'NO_BAD_WEATHER','OTHER_DELAYS (Y/N)':'NO_OTHER_DELAYS'}, inplace=True)

Data types get displayed for the reader.

In [12]:
df_cleaned.dtypes

DATE                         object
WAREHOUSE                    object
START_TIME                   object
SHIFT_DURATION_HR           float64
OPERATING_VEHICLE            object
STARTING_MILEAGE              int64
FINAL_MILEAGE                 int64
ROUTE_MILEAGE                 int64
NEIGHBORHOOD(S)              object
WHS-NBHD_MIN-APPROX-DIST    float64
FUEL_TOTAL                  float64
FUEL_GAL                    float64
PRICE_PER_GAL               float64
OIL_COMPANY                  object
GAS_CATEGORY                 object
GAS_STATION_ADDRESS          object
GS-WHS_DIST                 float64
TOTAL_PKGS                    int64
ON-TIME_PKGS                  int64
RETURNED_PKGS                 int64
LATE_PKGS                     int64
MISSING_ORDERS                int64
ON-TIME_RATIO               float64
PDD_FAIL_RATIO              float64
LATE-PKGE_RATIO             float64
RCVD-PKGE_RATIO             float64
ON_TIME_ARR                   int64
NO_TRAFFIC                    int64
NO_WHS_DELAY                  int64
NO_BAD_WEATHER                int64
NO_OTHER_DELAYS               int64
dtype: object

So far the dataset is limited to a few rows, but these get updated as the author compiles more data. The following represents the cleaned data set.

In [13]:
df_cleaned.head(n=50)

,DATE,WAREHOUSE,START_TIME,SHIFT_DURATION_HR,OPERATING_VEHICLE,STARTING_MILEAGE,FINAL_MILEAGE,ROUTE_MILEAGE,NEIGHBORHOOD(S),WHS-NBHD_MIN-APPROX-DIST,FUEL_TOTAL,FUEL_GAL,PRICE_PER_GAL,OIL_COMPANY,GAS_CATEGORY,GAS_STATION_ADDRESS,GS-WHS_DIST,TOTAL_PKGS,ON-TIME_PKGS,RETURNED_PKGS,LATE_PKGS,MISSING_ORDERS,ON-TIME_RATIO,PDD_FAIL_RATIO,LATE-PKGE_RATIO,RCVD-PKGE_RATIO,ON_TIME_ARR,NO_TRAFFIC,NO_WHS_DELAY,NO_BAD_WEATHER,NO_OTHER_DELAYS
0,1/2/21,DSD3 (National City),5:00 PM,3.0,Sedan (Jetta VW),94918,94939,21,BONITA / NATIONAL CITY,4.5,11.04,3.085,3.579,Shell Oil Company,V-Power,3230 National City Blvd,1.3,54,54,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
1,1/8/21,DSD3 (National City),5:00 PM,4.0,Sedan (Jetta VW),94975,95001,26,MISSION BEACH / OCEAN BEACH,13.7,11.02,3.062,3.599,Shell Oil Company,V-Power,3230 National City Blvd,1.3,38,38,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
2,1/15/21,DSD3 (National City),5:30 PM,5.5,Sedan (Jetta VW),95145,95177,32,DOWNTOWN AREA / LOGAN,7.6,20.22,5.525,3.659,Shell Oil Company,V-Power,3230 National City Blvd,1.3,33,27,2,4,0,0.870968,0.060606,0.129032,0.939394,1,1,0,1,1
3,1/22/21,DSD3 (National City),5:00 PM,4.0,Sedan (Jetta VW),95217,95234,17,HILLCREST / MONTECITO POINT,8.7,11.10,3.002,3.699,Shell Oil Company,V-Power,3230 National City Blvd,1.3,40,40,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
4,1/29/21,DSD3 (National City),5:00 PM,3.5,Sedan (Jetta VW),95275,95312,37,EL CAJON / SPRING VALLEY / LA MESA,13.0,11.50,3.027,3.799,Shell Oil Company,V-Power,3230 National City Blvd,1.3,30,30,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,0,1
5,2/5/21,DSD3 (National City),5:00 PM,4.5,Sedan (Jetta VW),95362,95385,23,NORTH PARK,8.5,11.30,2.974,3.799,Shell Oil Company,V-Power,3230 National City Blvd,1.3,39,39,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
6,2/12/21,DSD3 (National City),5:00 PM,4.5,Sedan (Jetta VW),95422,95471,49,SAN YSIDRO / OTAY MESA / OCEAN VIEW,9.3,11.37,3.133,3.629,Shell Oil Company,Plus,3230 National City Blvd,1.3,31,30,1,0,0,1.000000,0.032258,0.000000,0.967742,1,1,1,1,1
7,2/13/21,DSD3 (National City),5:00 PM,3.5,Sedan (Jetta VW),95501,95532,31,PALM CITY / OTAY / OCEAN VIEW,6.0,11.30,3.114,3.629,Shell Oil Company,Plus,3230 National City Blvd,1.3,46,46,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
8,2/19/21,DSD3 (National City),5:00 PM,2.8,Sedan (Jetta VW),95557,95588,31,EL CAJON,13.0,11.40,2.954,3.859,Chevron Corporation,Regular,604 Dennery Rd,9.0,26,26,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
9,2/26/21,DSD3 (National City),5:00 PM,2.9,Sedan (Jetta VW),95642,95676,34,SAN YSIDRO / OTAY MESA / OCEAN VIEW,9.3,11.23,3.103,3.619,Shell Oil Company,Regular,3230 National City Blvd,1.3,28,28,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
10,3/5/21,DSD3 (National City),5:00 PM,3.5,Sedan (Jetta VW),95708,95756,48,EL CAJON,13.0,11.28,3.117,3.619,Shell Oil Company,Regular,3230 National City Blvd,1.3,25,25,0,0,0,1.000000,0.000000,0.000000,1.000000,0,1,1,1,1
11,3/12/21,DSD3 (National City),5:00 PM,3.5,Sedan (Jetta VW),95809,95829,20,CASTLE PARK / PALM CITY / IMPERIAL BEACH,4.3,11.38,3.035,3.749,Shell Oil Company,Regular,3230 National City Blvd,1.3,37,37,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
12,3/19/21,DSD3 (National City),5:00 PM,3.3,Sedan (Jetta VW),95866,95881,15,OLD CHULA VISTA,3.2,12.23,3.236,3.779,Shell Oil Company,Regular,3230 National City Blvd,1.3,33,33,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
13,3/24/21,DSD3 (National City),5:15 PM,4.5,Sedan (Jetta VW),95918,95941,23,MT HOPE / STOCKTON / E. SD / FAIRMOUNT / N. PARK,4.6,11.71,3.100,3.779,Shell Oil Company,Regular,3230 National City Blvd,1.3,37,37,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
14,3/29/21,DSD3 (National City),5:00 PM,4.0,Sedan (Jetta VW),95980,96005,25,LEMON GROVE / SPRING VALLEY,10.3,12.29,3.218,3.819,Shell Oil Company,Regular,3230 National City Blvd,1.3,36,36,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1
15,4/2/21,DSD3 (National City),5:00 PM,4.5,Sedan (Jetta VW),96045,96068,23,OAK PARK / COLINA DEL SOL / NORMAL HEIGHTS,9.2,12.47,3.239,3.849,Shell Oil Company,Regular,3230 National City Blvd,1.3,34,34,0,0,0,1.000000,0.000000,0.000000,1.000000,1,1,1,1,1

## 3. LOAD

This is the 3rd stage of the ETL data pipe. This is the LOAD component; in this case we are loading the data into a CSV file with clean data.

In [14]:
df_cleaned.to_csv(cdf, index=False)